@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply bg-neutral-900 bg-gradient-to-b from-neutral-900 to-neutral-900  leading-relaxed text-neutral-400 antialiased selection:bg-purple-300 selection:text-purple-900;
  }
}

/*  */
*:not(.katex *, code *) {
  font-family: var(--inter-font), ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
  font-feature-settings: 'ss03', 'cv02', 'cv09', 'cv11';
}

*:is(code *) {
  font-family: var(--source-code-pro-font), monospace;
}

a {
  cursor: pointer;
}

.debug {
  border: 1px dashed red;
}

.debug.alt {
  border: 1px dashed yellow;
}

.debug.fill {
  border: 1px dashed cyan;
  background-color: cyan;
}

.activeDesignTitle {
  @apply !rounded-tl-[0px] !rounded-tr-[0px];
}
